<div class="card">
    <img routerLink="/shop/{{product?.id}}" src="http://{{product?.pictureUrl?.split('://')?.pop()}}" alt="Product Image">
    <div class="card-content">
        <!-- <div class="product-name">{{product?.name}}</div> -->
        <a href="#" routerLink="/shop/{{product?.id}}" class="product-name">
            <h6 class="text-uppercase ">{{product?.name}}</h6>
        </a>
        <!-- <div class="product-description">{{product?.description}}</div> -->
        <div class="price">{{product?.price | currency}}</div>
        <div class="btn-group mt-auto ">
            <button (click)="addItemToBasket()" type="button" class="btn btn-outline-secondary mr-2"><i class="fa fa-shopping-cart fa-2x text-dark"></i></button>
            <button routerLink="/shop/{{product?.id}}" type="button" class="btn btn-outline-secondary">View</button>
        </div>
    </div>
</div>
