<div class="container mt-5 ">
    <div class="row">
        <!-- ________________________________________ -->


        <section class="col-2">
            <div class="sidebar">
                <h5 class="logo">Sort</h5>
                <select class="custom-select mb-3" (change)="onSortSelected($event)">
                    <option 
                        *ngFor="let sort of sortOptions"
                        [value]="sort.value"
                    >{{sort.name}}</option>
                </select>
                <br>
                <span class="logo">Types</span>
                <ul class="sidebar-links">
                    <li *ngFor="let type of types"
                        [class.active]="type.id === this.shopParams.typeId"
                        [value]="type.id"
                        (click)="onTypeSelected(type.id)"
                    ><a>{{type.name}}</a></li>
                </ul>
                <hr>
                <span class="logo">Brands</span>
                <ul class="sidebar-links">
                    <li *ngFor="let brand of brands"[class.active]="brand.id === this.shopParams.brandId"
                    [value]="brand.id"
                    (click)="onBrandSelected(brand.id)"
                    ><a>{{brand.name}}</a></li>
                </ul>
            </div>

        </section>

        <!-- _______________________________________ -->


        <section class="col-10">
            <div class="d-flex  justify-content-between align-items-center" style="margin-left: 90px;">
                <app-paging-header
                    [totalCount]="totalCount"
                    [pageSize]="shopParams.pageSize"
                    [pageNumber]="shopParams.pageNumber"
                >
                </app-paging-header>
                
                <div class="d-flex  mt-2">
                    <input (keyup.enter)="onSearch()" #search type="text" class="form-control my-2" style="width: 400px;" placeholder="Search">
                    <button (click)="onSearch()" class="btn btn-outline-primary  my-2 " style="margin: 0px 9px;">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success  my-2 ml-2" style="margin-right: 90px;">Reset</button>
                </div>

            </div>

            <div class="card-container mt-2 " >
                <div *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center ">
                <app-pager
                    [pageSize]="shopParams.pageSize"
                    [totalCount]="totalCount"
                    [pageNumber]="shopParams.pageNumber"
                    (pageChanged)="onPageChange($event)"
                >
                </app-pager>

            </div>
        </section>
    </div>
</div>